@model List<Person>;
@{
    ViewData["Title"] = "AddForm";
}

<h1>Add Future Presentation</h1>

<form method="post" action="/presentation/add">
    Book Title:<input type="text" name="booktitle" /><span>@ViewBag.TitleMessage</span><br />
    Book Author:<input type="text" name="bookauthor" /><span>@ViewBag.AuthorMessage</span><br />
    Book Genre:<input type="text" name="genre" /><span>@ViewBag.GenreMessage</span><br />
    Presentation Date: <input type="date" name="presentationdate" /><span>@ViewBag.DateMessage</span><br />
    Person Presenting: 
    <select name="personid">
        @foreach(Person per in Model){
            <option value="@per.id">@per.firstname @per.lastname</option>
        }
    </select><br />
    <input type="submit" name="save" />
</form>