@model Product;
@{
    ViewData["Title"] = "Detail";
}

<h1>DETAIL</h1>

ID: @Model.id <br />
Name: @Model.name <br />
Description: @Model.description <br />
$@Model.price <br />
@Model.inventory in stock. <br /> 
@Model.category  