@model Category;
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Category Form</h1>

<form method="post" action="/category/editcategory">
    <input type="hidden" name="id"  value="@Model.id" />
    ID: @Model.id <br />
    Name: <input type="text" value="@Model.name" name="name"/><br />
    Description: <input type="text" value="@Model.description" name="description"/><br />
    Location: <input type="text" value="@Model.location" name="location"/><br />
    <input type="submit" name="save"/>
</form>