@model Person;
@{
    ViewData["Title"] = "Details";
}

<h1>Details on @Model.firstname!</h1>

<div>
    Member ID: @Model.id <br />
    First Name: @Model.firstname <br />
    Last Name: @Model.lastname <br />
    Email: @Model.email
</div>